.Posts {
    padding: 20px;
}

.containerTextAreaBtn{
    display: flex;
    flex-direction: column;
    width: 85%;
}

@media screen and (max-width: 720px) {
    .formAddPost {
        display: flex;
        flex-direction: column;
    }
}