.header {
    grid-area: header;
    background-color: #B3E0FF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.header img {
    width: 50px;
}

.loginBlock {
    float: right;
}

.loginBlock a {
    color: #5867dc;
    font-weight: bold;
    text-decoration: none;
}

.loginBlock a:hover {
    text-decoration: underline;
}