.header {
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #2c4141;
    border-radius: 2px;
    margin-bottom: 10px;
    min-height: 60px;
}

.smallLogoAvatar {
    width: 40px;
    margin: 5px;
    border-radius: 50%;
}
.logoApp{
    width: 40px;
    height: 40px;
    margin: 10px 10px 0 10px ;
}
.loginText{
    align-self: center;
    margin-right: 20px;
}
.profileAuthData{
    display: flex;
    padding: 5px;
    align-items: center;
}
.label {
    display: flex;
    flex-direction: row;
}
.label:hover{
    cursor: pointer;
}
.btnLogout{
    align-self: center;
}
@media screen and (max-width: 720px) {
    .header{
        flex-direction: column;
    }
    .logoApp{
        align-self: center;
    }
    .profileAuthData{
        align-self: center;
    }
    .loginText{
        margin: 0;
    }
}