.nav {
    grid-area: nav;
    background-color: #EFF3F4;
    padding: 20px;
}

.item a {
    color: #5867dc;
    text-decoration: none;
}

.item a:hover {
    text-decoration: underline;
}

.item a.active {
    color: green;
    font-weight: bold;
}