.navbar {
    min-width: 150px;
    background-color: #2c4141;
    height: 307px;
    margin: 34px 10px 0px 0px
}

.items {
    margin: 30px;
}


.item {
    padding: 2px;
}

.item a {
    font-size: 17px;
    color: #ce7878;
    text-decoration: none;
}

.item a:hover {
    transition: 1s;
    color: lavender;
}

a.active {
    color: gold;
}
@media screen and (max-width: 720px) {
    .navbar{
        margin: 5px 0 10px 0;
    }
}