@import '~antd/dist/antd.css';

* {
    font-family: 'Poppins', sans-serif;
}

button {
    color: black;
    cursor: pointer;
}

input {
    color: black;
}

.container {
    color: aliceblue;
    display: flex;
    justify-content: center;
    background-color: #386d6d;
    min-height: 100vh
}

.app-wrapper {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.app-wrapper-content {
    display: flex;
}

.app-main-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.alert {
    position: fixed;
    bottom: 0;
    right: 0;
}

@media screen and (max-width: 720px) {
    .app-wrapper-content {
        flex-direction: column;
    }
    .app-wrapper{
        width: 80%;
    }
}