.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.dialog {}

.dialog.active {
    color: blue;
    font-weight: bold;
}

.messages {
    padding: 10px;
}

.message {

}