.dialogs {
    display: grid;
    grid-template-columns: 1fr 3fr;
}



.items {
    padding-left: 15px;
    padding-top: 17px;
}



.messages {
    padding-top: 15px;
}

.textAreaMessages{
   display: flex;
    justify-content: center;
}
.mainContainer{
    max-width: 556px;
}
.messagesContainer{
    margin-top: 34px;
}